body{
  background-image:url("/assets/background.png");
  color:white;
  font-family:'Montserrat';
  margin:0;
  height:4000px;
}
#new-page{
  max-width:2000px;
  margin:auto;
}
span{
  color:rgba(255, 91, 80, 1);
}

p,h4,h1,h5{
  margin:0;
}
