body{
  background-image:url("C:/Users/Jack1/OneDrive/Área de Trabalho/Projetos HTML/NFT-Rocket/assets/background.png");
  color:white;
  font-family:'Montserrat';
}
span{
  color:rgba(255, 91, 80, 1);
}
