body{
  background-image:url("/assets/background.png");
  color:white;
  font-family:'Montserrat';
  margin-bottom:50px;
 }
#new-page{
  max-width:1600px;
  margin:auto;
}
span{
  color:rgba(255, 91, 80, 1);
}

p,h4,h1,h5{
  margin:0;
}
