header{
  padding:20px 30px 40px;
}
header nav{
  display:flex;
  justify-content:space-between;
  align-items:center;
}
nav img{
  min-width:150px;
  display:flex;
  flex-shrink:1;
}

header nav nav{
  flex:1;
  gap:45px;
  display:flex;
  justify-content:center;
  margin:0 30px ;
}

header h4{
  font-size:18px;
  font-weight:500;
}
header h4:hover{
  font-size:18px;
  font-weight:700;
  color:rgba(255, 91, 80, 1);
  cursor:pointer;
}

header button{
  display:flex;
  align-items:center;
  flex-shrink: 5;
  min-width:170px;
  padding:0px 30px 0 60px;
  height:45px;
  background-image:url("/assets/logo_MetaMask.svg");
  background-repeat: no-repeat;
  background-position:16px;
  font-weight: bold;
  border-radius:4px;
  border:2px solid rgba(255, 91, 80, 1);
}

header button:hover{
  background-color:rgba(255, 91, 80, 1);
  color:white;
  border-color:white;
  cursor:pointer;
} 