#main-section{
  padding:40px 0;
  display: flex;
  justify-content:space-between;
  align-items: center;
  max-width:1400px;
  margin:auto;
}
#container-section{
  display:flex;
  flex-direction:column;
  gap:55px;
}
#container-section p{
  margin:0;
  max-width:370px;
  font-size:clamp(0.6rem, 1.0vw, 1.3rem);
}
section h1{
  margin:0;
  font-size:clamp(1.8rem, 3.4vw, 3.8rem);
  max-width:720px;
  vertical-align: top;
}
#container-small-img{
  display:flex;
  max-width:300px;
  gap:8px;
}
#artist-img{
  width:100%;
}
#container-small-img h5{
  margin:55px 0 0 0;
  white-space:nowrap;
}
#badge{
  display:flex;
  align-items:center;
  max-width:300px;
  min-width:120px;
}
#badge img{
  display: flex;
  width:100%;
  flex-shrink: 0;
}