@media(max-width:600px){
  header{
    padding:10px 30px 0 0;
  }
  header nav{
    flex-direction: column;
    margin:auto;
  }
  header nav nav{
    gap:0px;
  }
  header button{
    top:8px;
    background-size: 30px;
    font-weight: bold;
  }
  #container-section{
    gap:15px;
  }
  section h1{
    text-align:center;
    padding-left:0px 5;
  }
  #pictures-grid{
    grid-template-columns:1fr;
    padding:0px 0px 0px 10px;
  }
  #container-small-img{
    display:block;
  }
  #artist-img{
    width:70%;
    height: 70%;
  }
  #container-small-img h5{
    margin:0;
    font-size:11px;
  }
  #main-section{
    padding:40px 0px; 
  }

  
}
@media(max-width:880px){
  #container-section{
    gap:25px;
  }
  #pictures-grid{
    grid-template-columns:1fr 1fr ;
  }
  #container-small-img{
    display:block;
  }
  #artist-img{
    width:70%;
    height: 70%;
  }
  #container-small-img h5{
    margin:0;
    font-size:11px;
  }
}

@media(min-width:1150px){
  #pictures-grid{
    grid-template-columns:1fr 1fr 1fr 1fr;
  }
}